{% extends 'base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<style>
    .all{
        font-family: Arial, sans-serif;
        display: inline;
    }
    h1{
        font-weight: bold;
    }
    img{
        width: 20%;
        border-radius: 100%;
    }
    .soc{
        gap: 10px;
        display: flex;
    }
    a{
        font-size:30px; 
        color: black;
        cursor: pointer;
    }
    a:hover{
        color: rgba(0, 0, 0, 0.5);
    }
</style>
    <div class="all">
        <img src="https://sun1-21.userapi.com/s/v1/ig2/a2VEfcP4x1_VAaQLvwWIX6IBAY11x2aGDqc3xdhj7kdKX4mk6PYXy1LEDdcaEXXMwAVBShcgESlAaZXjgtRXPkjL.jpg?size=200x200&quality=95&crop=0,324,1789,1789&ava=1" alt="">
        <h1>Алексей Бурыкин</h1>
        <div class="about">
            <p>Начинающий программист...</p>
        </div>
        <div class="soc">
            <a href="https://t.me/AlexMicrobox"><i class='fa fa-telegram'></i></a>
            <a href="https://vk.com/burikinin"><i class="fa fa-vk"></i></a>
            <a href="https://github.com/anlix-y"><i class='fa fa-github'></i></a>
        </div>
    </div>
{% endblock %}